body {
    margin: 32px;
    font-size: 14px;
}

#viewer {
    max-width: 700px;
    border: 1px;
    border-color: grey;
    border-style: dotted;
}

#cam {
    display: flex;
    padding:12px 12px 12px 12px;
    border: 1px;
}
#seperator {
    padding:12px 12px 12px 12px;
}
#button {
    margin: 0 0 0 125px;
