<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Listen to your eyes!</title>
</head>
<body>
    <h3>Optical Character Recognition + <a href="https://arxiv.org/pdf/1609.03499.pdf" style="text-decoration:none;color: black;">Wavenets</a>.</h3>
    <p> Generate audio signals by showing some text to your webcam!</p>
    <div id="viewer">
        <div id="cam">
            <video style="display:block;" id="video" width="320" height="240" autoplay></video>
            <div id="seperator"></div>
            <canvas id="canvas2" width="320" height="240"></canvas>
        </div>
        <div id="button">
            <p><button "style=display:block;" id="snap">Snap Photo</button></p>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
    </script>

</body>
<script src="static/index.js"></script>
</html>
